.post-list {
    margin-top: 50px;

    &__title {
        font-size: 18px;
        font-weight: bold;
    }

    &__body {
        margin-top: 20px;
    }

    &__row {
        display: flex;
        margin-top: 15px;
        padding: 20px;
        border: 1px solid lightgray;
        border-radius: 5px;

        & > .post__title {
            margin-left: 20px;
        }

        & > .post__buttons {
            margin-left: auto;

            & > input[type="button"] {
                padding: 5px 10px;
                cursor: pointer;
            }

            & > .post__delete-button {
                margin-left: 10px;
            }
        }
    }
}